*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0;
}

body{
    background-color:rgb(27, 27, 27)gradient;
}


/* Header */

#toto{
    width: 100%;
    height: 80px;
    color: white;
    background: black;
    box-shadow: -5px 20px 60px #353131,
             5px -20px 30px #7a7878;
}

#toto h1{
    padding-top: 20px;
    text-align: center;
}


/* Separador */

#separador h3{
    margin: 10px;
    padding-top: 16px;
}

#separador{
    border-radius: 15px;
    box-shadow: 2px 2px 5px black;
    text-align: center;
    color: rgb(78, 76, 76);
    background-color: white;
    width: 50%;
    height: 80px;
    margin-top: 42px;
    margin-left: 25%;
    margin-bottom: 50px;
}


/* Selección de Humano*/

.recursos{
    width: 100%;
    display:flex;
    text-align: center;
    justify-content: center;
}

button{
    border-style: none;
    background-color: white;
}

img{
    justify-content: center;
    width: 40%;
    border-radius: 15px;
    box-shadow: -2px -2px 2px 2px rgb(29, 28, 28);
}

/* Resultado de Ronda */
.result{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.res{
    border-radius: 15px;
    box-shadow: 2px 2px 0px 3px black;
    margin: 10px;
    width: 25%;
    height: 300px;
}

.res h1{
    text-align: center;
    padding-top: 120px;
    font-size: 50px;
}

.res h4{
    text-align: center;
    padding-top: 15px;
}

.img{
    margin-top: 85px;
}


/* Resultado de Ronda */

#separResult{
        border-radius: 50px;
        background: #e0e0e0;
        box-shadow:  20px 20px 60px #bebebe,
        -20px -20px 60px #ffffff;
        text-align: center;
        color: rgb(78, 76, 76);
        background-color: white;
        width: 50%;
        height: 80px;
        margin-top: 42px;
        margin-left: 25%;
        margin-bottom: 25px;  
}


/* Puntaje */

.score{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.size{
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow:  20px 20px 60px #686666,
        -15px -20px 30px #c2c1c1;
    margin: 10px;
    width: 10%;
    height: 50px;
    border-radius: 15px;
}

.size h1{
    padding-top: 7px;
    text-align: center;
}

/* Footer */

#Footer{
    text-align: center;
    width: 100%;
    height: 100px;
    color: white;
    background-color: rgb(27, 27, 27);
    bottom: 0px;
}

#Footer h2{
    padding-top: 15px;
}

#Footer h4{
    padding-top: 10px;
}